---
import Battery from '../components/Battery.svelte'
---
<html>
<body>
  <h1>BAT 3000</h1>
  <Battery client:load />
</body>
</html>
<style lang="scss">
body {
  font-family: sans-serif;
  background: #111;
  color: #f4f4f4;
  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
  }
}
</style>
